body
{
    background-color:#5A5E63;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;

}

.wrapper
{
    width:100%;
}

.header
{
    width:100%;
    padding: 10px 0;
    background-color: white;
    color:#5A5E63;
}

.logo
{
    width:600px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
/* znaczek na logo */
.gwallet
{
    color:#white;
    text-align:center;
}

.nav
{
    width:100%;
    padding: 10px 0;
    background-color: #656891;
    text-align: center;
    height: 30px;

}

/* cześć z zdjęciem jako tlo i tekstem*/
.foto
{
    background-image: url(img/books.jpg);
    background-size: 100% 100%;
}

.cytat
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-size: 40px;
    color: #ffffff;
    padding-top: 200px;
    font-style: italic;
}
  /*  background: linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
   );
*/
.autor
{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: 600px;
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-bottom: 300px;
}
.autor:hover
{
    color: #E8AC4B;
}

/* koniec zdjecia i tekstu*/

.content
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    font-size:18px;
    padding-top: 10px;
}

.karta
{

    background-color: white;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding: 40px;
    text-align: center;
}

/*polecane ksiazki*/
.book
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    font-size:18px;
    padding-top: 30px;
    background-color: white;
    color: black;
}

.bookfoto
{
    width: auto;
    padding: 20px;
    float: left;
}

.booktext
{
    width: 50%;
    padding: 20px;
    padding: 40px;
    float: left;
}

#readmore
{
    width: 120px;
    padding-top: 20px;
    text-align: center;
}

#readmore:hover
{
    color: #E8AC4B;
    border-bottom: 2px solid #E8AC4B; 
    padding-bottom: 5px;
}


.socials
{
    width:100%;
    text-align:center;
    background-color: #292929;

}

.socialdivs
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.fb
{
    width: 250px;
    height: 155px;
    float:left;
}

.fb:hover
{
    background-color: #4668b3
}

.yt
{
    width: 250px;
    height: 155px;
    float:left;
}

.yt:hover
{
    background-color: #d94348;
}

.tw
{
    width: 250px;
    height: 155px;
    float:left;
}

.tw:hover
{
    background-color: #3095d3;
}

.gplus
{
    width: 250px;
    height: 155px;
    float:left;
}

.gplus:hover
{
    background-color: #d95333;
}

.footer
{
    padding: 20px;
    text-align: auto;
    font-size: 12px;
    background-color: #222222;
}
/*przyklejanie się menu, klasa css o nazwie sticky*/
.sticky
{
    width: 100%;
    position:fixed; /*fixed - pozycja stala, sztywna, poniej oznacznie gdzie*/
    left: 0;
    top: 0;
    z-index: 100; /*cos jak glebia, pokrywanie sie, zasłanianie*/
}

/*lista menu*/
ol
{
    padding: 0;
    margin: 0;
    list-style-type: none; /*typ wystylizowania listy, brak jest numerow*/
    font-size: 16px;
    height: 25px;
    line-height: 200%; /*jak wiele miejsca w pionie zawiera jedna linia tekstu - interlinia*/
    display: inline-block; /* konkurencja dla float left - elementy blokowe ukladajace sie obok siebe*/

}

ol a /*stylizujemy hiperlacz, ktore znajda sie w wewnatrz listy ol, a to link*/
{
    color: #ffffff;
    text-decoration: none;
    display: block; /*zachwouje sie jak div, element blokowy*/
}

ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    
}



ol > li:hover > a /*stylizujemy hiperlacze a*/
{
    color: #393A52;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul /*pokazuje po najechaniu rozwijane menu*/
{
    display: block;
}


ol > li > ul > li
{
    background-color: #656891;
    position: relative;/* relatywna pozycja, ustawia sie, zasłania reszte */
    z-index: 100;
}

ol > li > ul > li:hover
{
    background-color: #656891;
}

ol > li > ul > li:hover > a /*stylizowanie linku rozwijanego*/
{
    color: #393A52;
}

.scrollup
{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/back.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 0.5;
    display: none;
}
